# Secrets and credentials
src/main/resources/application.properties
src/main/resources/application-main.properties

# Distribution directory
target

# IDE's
.idea
*.iml
.vscode

# OS cache
Thumbs.db
.DS_Store
._*

# Roo
log.roo
